body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: peachpuff;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.header {
    padding: 1vh;
    margin: 0;
    height: 7vh;
    width: 100%;
    z-index: 2;
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
}

.controlButtons {
    padding: 1vh;
    justify-self: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    top: 10vh;
}

.smallButtons {
    height: 100px;
    height: 100px;
    padding: 1vh;
}

.infoDiv {
    z-index: 2;
}

#infoWindow {
    background-color: white;
    opacity: 0.6;
    cursor: pointer;
    height: 20vh;
    padding: 1vh;
    padding-right: 2vh;
    width: 20vw;
    display: none;
    z-index: 2;
    position: relative;
    top: 1vh;
}

.footer {
    padding: 0;
    margin: 0;
    background-color: white;
    height: 10vh;
    width: 100%;
    z-index: 2;
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
}

#pano {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
}

a {
    text-decoration: none;
}

.gm-fullscreen-control,
.gmnoprint,
.gm-svpc {
    display: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    right: 1vh;
    margin: 3vh;
    width: 3vw;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}